<!-- Wrapper Start -->
<div id="wrapper">


<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo">
				<a href="index.html"><img src="res/images/logo/javornickeokruhy.jpg" alt="logo"/></a>
				<div class="clear"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			
			<!-- Social Icons -->
			<ul class="social-icons">
				<li class="facebook"><a href="https://www.facebook.com/pages/Javornické-okruhy/120935994767084" target="_blank">Facebook</a></li>
				<li class="youtube"><a href="https://www.youtube.com/user/javornickeokruhy" target="_blank">Youtube</a></li>
				<li class="flickr"><a href="http://www.flickr.com/photos/94716433@N07/" target="_blank">Flickr</a></li>
			</ul>
			
			<div class="clear"></div>
			
			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-envelope"></i><a href="mailto:javornickeokruhy@gmail.com">javornickeokruhy@gmail.com</a></li>
				</ul>
			</div>

		</div>

	</div>
	<!-- Header / End -->
	
	<!-- Navigation -->
	<div class="sixteen columns">

		<div id="navigation">
			<ul id="nav">

				<li><a href="index.html">Úvod</a></li>
				<li><a href="#">Červené trasy</a>
					<ul>
					    <li><a href="cervena1-zapomenute-traily.html" class="red">Zapomenuté traily</a></li>
					    <li><a href="cervena7-hrebenovy.html" class="red">Hřebenový</a></li>
                        <li><a href="cervena2-trailova-symfonie.html" class="red">Javornické propadání</a></li>
                        <li><a href="cervena3-pres-3-tisicovky-2-rozhledny-a-1-hrad.html" class="red">Přes 3 tisícovky, 2 rozhledny a 1 hrad</a></li>
                        <li><a href="cervena4-okolo-javornickeho-masivu-mtb.html" class="red">Okolo Javornického masívu MTB</a></li>
                        <li><a href="cervena5-horska-draha-zlato-a-panoramata.html" class="red">Horská dráha, zlato a panoramata</a></li>
					</ul>
				</li>
				<li><a href="#">Modré trasy</a>
					<ul>
                        <li><a href="modra1-za-posumavskou-lidovou-architekturou.html" class="blue">Za pošumavskou lidovou architekturou</a></li>
                        <li><a href="modra2-vyhledova.html" class="blue">Výhledová</a></li>
                        <li><a href="modra3-javornicka-osmicka.html" class="blue">Javornická osmička</a></li>
                        <li><a href="modra4-koupaci.html" class="blue">Koupací</a></li>
                        <li><a href="modra5-okolo-javornickeho-masivu-trekking.html" class="blue">Okolo Javornického masívu TREKKING</a></li>
					</ul>
				</li>
                <li><a href="o-okruzich.html">O okruzích</a></li>
                <li><a href="http://www.javorniksumava.cz/ubytovani/" target="_blank">Ubytování</a></li>
                <li><a href="http://www.javornickypazdrivec.cz/" target="_blank" style="background-color:#C62020;">Javornický Pazdřivec</a></li>
                <!--<li><a href="kontakt.html">Kontakt</a></li>-->
			</ul>
		</div> 
		<div class="clear"></div>
		
	</div>
	<!-- Navigation / End -->

</div>
<!-- 960 Container / End -->


<!-- Content
================================================== -->

