

</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
	<!-- 960 Container -->
	<div class="container">
	
		<!-- About -->
		<div class="four columns">
			<div class="footer-headline"><h4>O nás</h4></div>
            <p>Jsme parta bikerů, co chce tímto projektem ukázat krásy Javornické hornatiny a podělit se o naše oblíbené trasy.</p>
            <p>Projekt Javornických okruhů je realizován pod záštitou Javornické rozvojové společnosti, o.s.</p>
            <p>Na setkání v sedle se těší tým Javornických okruhů.</p>
		</div>
		
		<!-- Useful Links -->
		<div class="seven columns">
			<div class="footer-headline"><h4>Partneři</h4></div>
            <div id="footer_logo">
                <a href="http://www.javorniksumava.cz/" target="_blank" style="width:133px;margin-top:27px;">
                    <img src="../res/images/logo/javornik.jpg" alt="">
                </a>
                <a href="http://www.cemba.eu/" target="_blank" style="width:100px;margin-left:5px;">
                    <img src="../res/images/logo/cemba.jpg" alt="">
                </a>
                <a href="http://www.enduroxrace.cz/" target="_blank" style="width:130px;margin-top:36px;">
                    <img src="../res/images/logo/enduro.jpg" alt="">
                </a>
                <a href="http://www.frbikes.cz/" target="_blank" style="width:140px;margin-top:38px;">
                    <img src="../res/images/logo/frbikes.png" alt="">
                </a>
                <a href="http://www.bikefactory.info/" target="_blank">
                    <img src="../res/images/logo/bikefactory.png" alt="">
                </a>
                <a href="http://bike-eshop.cz/" target="_blank" style="width:115px;margin-top:32px;">
                    <img src="../res/images/logo/bikeeshop.png" alt="">
                </a>
                <a href="http://www.bike-trek.cz/" target="_blank" style="width:120px;">
                    <img src="../res/images/logo/biketrek.png" alt="">
                </a>
                <a href="http://www.singltreky.cz/" target="_blank" style="width:110px;">
                    <img src="../res/images/logo/singltreky.gif" alt="">
                </a>
                <a href="http://sumavago.cz/" target="_blank" style="width:130px;margin-top:40px;">
                    <img src="../res/images/logo/sumavago.png" alt="">
                </a>
                <a href="http://www.trek-bikes.cz/" target="_blank" style="width:100px;margin:20px 0 0 20px;">
                    <img src="../res/images/logo/trek.png" alt="">
                </a>
                <a href="http://www.legendbike.cz/" target="_blank" style="width:125px;margin-top:35px;">
                    <img src="../res/images/logo/legendbike.png" alt="">
                </a>
            </div>
		</div>
		
		<!-- Photo Stream -->
		<div class="five columns">
			<div class="footer-headline"><h4>Galerie</h4></div>
			<div class="flickr-widget">
				<script type="text/javascript" src="https://www.flickr.com/badge_code_v2.gne?count=6&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=94716433@N07"></script>
				<div class="clear"></div>
			</div>
		</div>
		
		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom">
			    <em>Created by <a href="http://google.com/+MartinSznapka" target="_blank">Martin Sznapka</a></em>
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>

	</div>
	<!-- 960 Container / End -->

</div>
<!-- Footer / End -->
